<header>
    <div class="navbar bg-primary shadow-sm">
        <div class="navbar-brand align-item-center d-flex text-white ml-4">
            <i style="font-size: 40px;" class="fas fa-shipping-fast">
            </i>
            <strong class="mb-1 ml-2" style="font-size: 18px;">e-shopping</strong>

            <form class="container-fluid">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="search product" aria-label="Username" aria-describedby="basic-addon1">
                    <span class="fas fa-search input-group-text py-3 text-primary" id="basic-addon1"></span>

                </div>
            </form>



        </div>
    </div>
</header>