<div class="card-top container-fluid">
    <div class="container d-flex">
        <div class="item mt-3">
            <a>
                <img src="../../../assets/images/products.png" w-50 h-50 alt="all-products" srcset="" style="width: 60px; height: 50; margin-left: 27px;">
                <h6 class="mt-2" style="font-size: 18px;font-weight: 500;">All Products</h6>
            </a>
        </div>
        <div class="item mt-3">
            <a>
                <img src="../../../assets/images/electronic-device.png" alt="Electronics" srcset="" style="width: 60px; height: 50; margin-left: 27px;">
                <h6 class="mt-2" style="font-size: 18px;font-weight: 500;">Electronics</h6>

            </a>
        </div>
        <div class="item mt-3">
            <a>
                <img src="../../../assets/images/consumption.png" alt="Fashion" srcset="" style="width: 60px; height: 50; margin-left: 27px;">
                <h6 class="mt-2" style="font-size: 18px;font-weight: 500; margin-left: 28px;">Fashion</h6>

            </a>
        </div>
        <div class="item mt-3">
            <a>
                <img src="../../../assets/images/necklace.png" alt="Jewelly" srcset="" style="width: 60px; height: 50; margin-left: 27px;">
                <h6 class="mt-2" style="font-size: 18px;font-weight: 500;margin-left: 28px;">Jewelly</h6>

            </a>
        </div>

    </div>
</div>

<div class="container">
    <div class="row">
        <ng-container *ngFor=" let item of productlist ">
            <div class="card col-md-3">
                <img src="{{item.image}}" alt="" style="margin-left: 35px;">
                <h5 style="white-space: nowrap; overflow:hidden; text-overflow:ellipsis;max-width:500px;">{{item.title}}</h5>
                <p style="white-space: nowrap; overflow:hidden; text-overflow:ellipsis;max-width:100ch;">{{item.description}}</p>
                <p><strong>Price:</strong>${{item.price}}</p>
                <button class="btn btn-primary" (click)=addtocart(item)> add to cart</button>

            </div>
        </ng-container>
    </div>
</div>